
myVideo {
  position: fixed;
  right: 0;
  bottom: 50;
  min-width: 100%;
  min-height: 100%;
}
.myVideo {
 position: fixed;
 right: 0;
 bottom: 0;
 top: 0;
 left: 0;
 object-fit: cover;
 width: 100%;
 min-height: 100%;
 z-index: -99;
 opacity: 0.8;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.myImage {
  width: 80%;

}

.icon:hover {
  margin-top: -5vh;
}

@media only screen and (max-width: 768px) {

}
